#!/bin/sh
APP=grocery_data_generator

# docker run --network grocery_data_generator_network_dev --name grocery_datagenerator_database_dev -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=P@ssw0rd!' -p 1433:1433 -d mcr.microsoft.com/mssql/server:2017-latest
DB_SERVER_CONTAINER=grocery_datagenerator_database_dev
SQLCMD=/opt/mssql-tools/bin/sqlcmd
DBUSER=sa
DBPSWD='P@ssw0rd!'
SRC_DIR=./assets.docker/grocery_data_generator
SQLSERVER_NAME=$(docker exec -it $DB_SERVER_CONTAINER /opt/mssql-tools/bin/sqlcmd -U ${DBUSER} -P ${DBPSWD} -h -1 -Q "set nocount on; select @@SERVERNAME")

if ! docker ps -a|grep -o grocery_datagenerator_database_dev; then
    SCM_SRC_CONTAINER=hopeful_cerf
    ./assets.docker/grocery_data_generator/rundb $1
    docker cp ${SCM_SRC_CONTAINER}:/volume/src/main/resources/init_database_scripts/schema.datagen.sql ${SRC_DIR}/schema.datagen.sql
    docker cp ${SCM_SRC_CONTAINER}:/volume/src/main/resources/init_database_scripts/schema.grocery.sql ${SRC_DIR}/schema.grocery.sql
    docker cp ${SCM_SRC_CONTAINER}:/volume/src/main/resources/init_database_scripts/zipcodeimport.sql ${SRC_DIR}/zipcodeimport.sql
    docker cp ${SCM_SRC_CONTAINER}:/volume/src/main/resources/init_database_scripts/database.sql ${SRC_DIR}/database.sql
    docker cp ${SCM_SRC_CONTAINER}:/volume/src/main/resources/init_database_scripts/create_user.sql ${SRC_DIR}/create_user.sql
    docker exec ${DB_SERVER_CONTAINER} ${SQLCMD} -U ${DBUSER} -P ${DBPSWD} -Q "$(cat ${SRC_DIR}/database.sql)"
    docker exec ${DB_SERVER_CONTAINER} ${SQLCMD} -U ${DBUSER} -P ${DBPSWD} -Q "$(cat ${SRC_DIR}/create_user.sql)"
    docker cp ${SRC_DIR}/schema.datagen.sql $DB_SERVER_CONTAINER:/
    docker cp ${SRC_DIR}/schema.grocery.sql $DB_SERVER_CONTAINER:/
    docker exec ${DB_SERVER_CONTAINER} ${SQLCMD} -U ${DBUSER} -P ${DBPSWD} -d GroceryStore -i /schema.datagen.sql
    docker exec ${DB_SERVER_CONTAINER} ${SQLCMD} -U ${DBUSER} -P ${DBPSWD} -d GroceryStore -i /schema.grocery.sql
    docker cp ${SRC_DIR}/zipcodeimport.sql $DB_SERVER_CONTAINER:/
    docker exec ${DB_SERVER_CONTAINER} ${SQLCMD} -U ${DBUSER} -P ${DBPSWD} -d GroceryStore -i /zipcodeimport.sql
fi

./assets.docker/grocery_data_generator/dev $1
